#conteiner{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 5%;
    background-color: silver;
}
.box{
    width: 300px;
    background-color: red;
    color: white;
    padding: 15%;
    border-radius: 10px;
    text-align: center;
}
